@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,500;0,700;1,400;1,500&display=swap');

.container{
    font-family: 'Raleway', sans-serif;
    max-width: 1500px;
    margin: auto;
    display: block;
}
/*partit header de mon projet */

.header-reservia {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}
.link, .register{
    text-decoration: none;
    border-top: solid 3px transparent;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 2.6rem;
}
.register{
    color: #0065fc;
    font-weight: bold;
}
.link{
    color: black;
}
.link:hover{
    border-top: solid 3px #0065fc;
    padding-top: 2.6rem;
    color: #0065fc;
}
.logo-desktop{
    padding-top: 15px;
}

main{
	width: 100%;
}

/*Section search bar*/

.search{
    display: flex;
    padding: 5px 5px;
}
.icon-left{
    border-top: 2px solid #F2F2F2;
    border-bottom: 2px solid #F2F2F2;
    border-left: 2px solid #F2F2F2;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-right-color: #F2F2F2;
    padding: 6px 15px;
    background-color: #F2F2F2;
}
.searchbar{
    border: #F2F2F2  solid 2px;
    padding: 3px 3px;
    color: black;
    -webkit-appearance: none;
}

::placeholder{
    color: black;
    font-weight: bold;

}
.icon-right{
    padding: 7px 12px;
    color: white;
    list-style: none;
    border: #0065FC solid 2px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color:#0065FC;
    text-decoration: none;
}
.icon-right a {
    text-decoration: none;
    color: white;
    font-weight: 600;
}
.icon-right-mobile{
    display: none;
}

.titre-search{
    margin-bottom: 20px;
}
.titre-search p{
    margin: 0;
}
.titre-search h3{
    margin: auto;
    margin-top: 20px;
}

/*Section filtre*/
.conteneur-filtre{
    display: flex;
    align-items: center;
}
.block-filtre{
    display: flex;
    margin: 10px;
    align-items: center;
    border:#F2F2F2 2px solid;
    border-radius: 25px;
    width: auto;
    flex-wrap: wrap;
}
.block-filtre a{
    display: flex;
    align-items: center;
    text-decoration: none;
}
.block-filtre a:hover{
    background-color: #F2F2F2;
    border-radius: 25px;
    color: black;
}
.conteneur-icon-filtre{
    color:#0065FC;
    background-color: #DEEBFF;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: #DEEBFF 2px solid;
    position: relative;
    left: -2px
}
.conteneur-text-filtre span{
    font-weight: 600;
    color: black;
    padding: 6px;
}
.block-text-filtre{
    padding: 0 9px;
    color: black;
    font-weight: 500;
}
/*Section icone info*/
.block-info{
    display: flex;
    align-items: center;
    margin: 30px 0;
}
.block-info-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    border: #F2F2F2 2px solid;
    height: 23px;
    width: 23px;
    border-radius: 50%;
    margin-right: 8px;
}
.fa-info:before{
    display: flex;
    align-items: center;
    padding: 5px;
    color: #0065FC;
}
.block-info-text{
    font-size: 15px;
}

/*Section hebergement et hebergement populaire*/
.hebergement{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}
.block-card-hebergement{
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
    width: 68%;
    border-radius: 15px;
}
.conteneur-card-hebergement{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}
.card-hebergement a{
    text-decoration: none;
    color: black;
    border-radius: 15px;
    width: 95%;
    margin: auto;
    padding: 4px 0;
}
.card-hebergement:hover{
    box-shadow: 0 3px 10px 1px #7e7e7e;
}
.card-hebergement{
    background-color: white;
    border-radius: 15px;
    display: flex;
    margin: auto;
    width: 26%;
    min-width: 200px;
    margin-bottom: 20px;
}
.block-description{
        padding-left: 8px;
        padding-top: 5px;
}
.card-hebergement p,h4{
    margin: 0;
    padding: 0;
    font-weight: normal;
}
.card-hebergement h4{
    font-weight: bolder;
    padding-bottom: 5px;
}
.accomodation-hebergement-stars{
    align-items: flex-end;
}

.img-hebergement{
    height: 100px;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.color{
    color: #0065FC;
}
.uncolor{
    color: #a8a8a8;
}
.btn-afficher-plus{
    padding: 20px 38px;
}
.afficher-plus{
    text-decoration: none;
    color: black;
    font-weight: 800;
}
.titre-hebergement{
    padding-left: 38px;
}
.titre-hebergement h3{
    margin: 15px 0;
}
/* hebergement populaire */
.block-card-populaire{
    display: flex;
    flex-direction: column;
    width: 30%;
    border-radius: 15px;
    background-color: #F2F2F2;
}
.titre-populaire{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.conteneur-card-populaire{
    margin: auto;
    width: 75%;
}
.lien-card-populaire{
    text-decoration: none;
    color: black;
    display: flex;
    padding: 4px;
    height: 100%;
}
.card-populaire:hover{
    background-color: white;
    border-radius: 15px;
    box-sizing: border-box;
    margin-bottom: 20px;
    min-width: 300px;
    height: 130px;
    min-height: 130px;
    box-shadow: 0 3px 10px 1px #7e7e7e;

}

.card-populaire{
    background-color: white;
    border-radius: 15px;
    box-sizing: border-box;
    margin-bottom: 20px;
    min-width: 300px;
    height: 130px;
    min-height: 130px;
}
.accomodation-populaire p{
    margin-top: 0;
}
.accomodation-populaire h4{
    font-weight: bold;
    margin-bottom: 9px;
}
.accomodation-populaire{
    display: flex;
    flex-direction: column;
    padding-left: 5px;
    justify-content: space-between;
    padding-bottom: 15px;
    padding-top: 5px;
    margin-left: 7px;
}

.conteneur-image-populaire{
    min-height: 100%;
    width: 33%;
    min-width: 33%;
    max-width: 33%;
}
.img-populaire{
    object-fit: cover;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    height: 100%;
    width: 100%;
    max-height: 120px;
}


/* decoupage de la taille des imgs activite*/
.activite{
    margin-bottom: 50px;
}
.activite p{
    padding-left: 10px;
    padding-bottom: 15px;
    padding-top: 5px;
    margin: 0;
    font-weight: 600;
}
.activite a{
    text-decoration: none;
    color: black;
}
.conteneur-activite{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.child-1{
    width: 22%;
    min-width: 330px;
}
.child-2{
    width: 22%;
    min-width: 330px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.img-large{
    height: 400px;
    width: 100%;
    object-fit: cover;    
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.img-medium{
    height: 200px;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;    
}
.img-small{
    height: 117px;
    width: 100%;
    object-fit: cover;    
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.img-same{
    height: 156px;
    width: 100%;
    object-fit: cover;    
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.card-activite-large{
    box-shadow: 0 3px 10px 1px #7e7e7e;
    border-radius: 15px;
}
.card-activite-medium{
    box-shadow: 0 3px 10px 1px #7e7e7e;
    border-radius: 15px;
}
.card-activite-small{
    box-shadow: 0 3px 10px 1px #7e7e7e;
    border-radius: 15px;
}
.card-activite-same{
    box-shadow: 0 3px 10px 1px #7e7e7e;
    border-radius: 15px;
    height: 45%;
}



/*partit footer*/
.container-footer{
    display: flex;
    justify-content: left;
    background-color: #F2F2F2;
}
.footer-left, .footer-middle, .footer-right{
    display: flex;
    flex-direction: column;
}
.footer-left{
    margin-left: 60px;
}
.footer-middle, .footer-right{
    margin-left: 250px;
}
.footer-a{
    padding-top: 10px;
    margin-top: 10px;
    text-decoration: none;
    color: black;
}


/* ajout des media queries*/
@media screen and (max-width: 650px)
{
    .container{
        width: 100%;
    }

    body{
        margin: 0;
        padding: 0;
    }

    .header-reservia{
        flex-wrap: wrap;
        margin: 0;
        padding: 0;
    }
    .register{
        position: absolute;
        top: 20px;
        right: 20px;
        padding: 0;
    }
    .logo-desktop{
        width: 100%;
        padding-left: 20px;
        padding-top: 10px;
    }
    .link{
        display: flex;
        flex: 1;
        justify-content: center;
        border-top:hidden;
        padding: 15px 0 8px 0;
        border-bottom: #d8d8d8 3px solid;
    }
    .link:hover{
        border-top: hidden;
        padding: 15px 0 8px 0;
        border-bottom: #0065fc 3px solid;
    }
    .header-nav{
        width: 100vw;
        padding: 0;
        display: flex;
    }

    .titre-search{
        padding-left: 8px;
    }
    .titre-search H3{
        margin-bottom: 8px;
    }
    /* search-bar pour mobile */

    .icon-right{
        display: none;
    }
    .icon-right-mobile{
        display: flex;
        padding: 6px 15px;
        background-color: #0065fc;
        border-radius: 12px;
    }
    .fa-search{
        color: white;
    }

    /* filtre pour mobile*/

    .conteneur-filtre{
        flex-wrap: wrap;
    }
    .block-text-filtre{
        width: 100%;
    }

    /* hebergement pour mobile */

    .hebergement{
        flex-direction: column-reverse;
    }
    .block-card-populaire{
        border-radius: 0;
        margin: auto;
        width: 100%;
        align-items: flex-start;
    }
    .titre-populaire{
        width: 100%;
        justify-content: space-between;
    }
    .titre-populaire h3{
        padding-left: 10px;
    }
    .titre-populaire span{
        padding-right: 10px;
    }
    .card-populaire{
        min-width: 200px;
    }
    .conteneur-card-populaire{
        margin: 0;
        width: 100%;
    }
    .block-card-hebergement{
        background-color: white;
        margin: 0;
        width: 100%;
    }
    .titre-hebergement{
        padding: 0;
    }
    .conteneur-card-hebergement{
        flex-direction: column;
    }
    .card-hebergement{
        width: 100%;
        box-shadow: 0 0 5px 0 #7e7e7e;
    }
    .card-hebergement a{
        width: 98%;
    }
    .btn-afficher-plus{
        padding: 0;
    }

    /* section activite pour mobile */
    .activite{
        flex-direction: column;
    }
    .conteneur-activite{
        flex-direction: column;
        align-content: center;
    }
    .child-1{
        width: 98%;
    }
    .child-2{
        width: 98%;
    }
    .img-large{
        height: 125px;
    }
    .img-medium{
        height: 125px;
    }
    .img-small{
        height: 125px;
    }
    .img-same{
        height: 125px;
    }
    .card-activite-large{
        margin-bottom: 20px;
    }
    .card-activite-medium{
        margin-bottom: 20px;
    }
    .card-activite-small{
        margin-bottom: 20px;
    }
    .card-activite-same{
        margin-bottom: 20px;

    }
    /* section footer pour la partit mobile*/
    .container-footer{
        flex-direction: column;
        padding-left: 20px;
    }
    .footer-left{
        margin: 25px 0;
    }
    .footer-middle{
        margin: 0;
        margin-bottom: 25px;
    }
    .footer-right{
        margin: 0;
        margin-bottom: 25px;
    }
    .footer-h3{
        margin: 0;
        margin-bottom: 10px;
    }
    .footer-a{
        margin: 0;
        padding: 0;
        margin-bottom: 8px;
    }
}